html, body, #root{
    height: 100%;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 20px;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}