@use '../../styles/variables' as *;

.movie-card {
  position: relative;

  min-width: 150px;
  height: 230px;

  background: $black;
  border: 2px solid transparent;
  border-radius: 12px;
  overflow: hidden;

  color: $white;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 0px;

  transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.06);
    border-color: $orange;
    box-shadow: 0 6px 20px rgba(255, 122, 0, 0.4);
  }
}

.movie-card__title {
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 40px 12px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: $white;
  z-index: 2;
}

.movie-card__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.movie-card:hover .movie-card__image {
  filter: brightness(0.8);
}
