.home{
    padding: 0 32px;
}

.home__intro{
    margin-bottom: 60px;
}

.home__title{
    font-size: 42px;
    color: white;
    margin-bottom: 16px;
}

.home__subtitle{
    font-size: 18px;
    color: #ccc;
}

.home__error {
    color: #ff4d4f;
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
}
