.favorites {
  padding: 40px;
  color: #fff;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &--empty {
    text-align: center;
    margin-top: 80px;

    .favorites__empty-text {
      margin-top: 12px;
      opacity: 0.8;
      font-size: 18px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px;
    margin-top: 20px;
  }

  &__item {
    position: relative;
  }

  &__remove {
    position: absolute;
    top: 6px;
    right: 6px;

    width: 24px;
    height: 24px;

    border: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;

    font-size: 16px;
    cursor: pointer;
    z-index: 5;

    transition: background 0.2s ease;

    &:hover {
      background: rgb(255, 122, 0, 0.8);
    }
  }
}
